[package]
name = "myso-pg-db"
version.workspace = true
authors = ["Mysten Labs <build@mystenlabs.com>"]
license = "Apache-2.0"
publish = false
edition = "2024"

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
bb8 = "0.8.5"
clap.workspace = true
chrono.workspace = true
diesel = { workspace = true, features = ["chrono"] }
diesel-async = { workspace = true, features = ["bb8", "postgres", "async-connection-wrapper"] }
diesel_migrations.workspace = true
futures.workspace = true
rustls.workspace = true
scoped-futures.workspace = true
tempfile.workspace = true
tokio = { workspace = true, features = ["full"] }
tokio-postgres = "0.7.12"
tokio-postgres-rustls = "0.12.0"
tracing.workspace = true
url.workspace = true
webpki-roots = "0.26.3"

myso-field-count.workspace = true
myso-indexer-alt-framework-store-traits.workspace = true
myso-sql-macro.workspace = true

[dev-dependencies]
telemetry-subscribers.workspace = true
