[Unit]
Description=MySo Node

[Service]
User=myso
WorkingDirectory=/opt/myso/
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info,myso_core=debug,consensus=debug,jsonrpsee=error
ExecStart=/opt/myso/bin/myso-node --config-path /opt/myso/config/validator.yaml
Restart=always

[Install]
WantedBy=multi-user.target
