[package]
name = "myso-sql-macro"
version.workspace = true
authors = ["Brandon Shaw <brandon@mysocial.network>"]
license = "Apache-2.0"
publish = false
edition = "2024"

[lib]
proc-macro = true

[dependencies]
quote.workspace = true
syn.workspace = true
thiserror.workspace = true
